.ironman {
    background-color: hsl(359, 69%, 20%);
    color: gold;
}

.capamerica {
    background-color: blue;
    color: white;
}

.thor {
background-color: grey;
color: black;
}

.shield {
    background-color: black;
    color: blueviolet;
}