<div class="container-fluid">
  <div class="row text-center shield">
    <span class="col-xl-12">Shield <div class="fa fa-shield"></div></span>
  </div>
  <div class="container">
    <div class="row">
      <span class="col-md-4 ironman">
        Iron man
      </span>
      <span class="col-md-4 capamerica">
        Captain America
      </span>
      <span class="col-md-4 thor">
        Thor
      </span>
    </div>
    <blockquote>
      <br>
      <p>We'll do that together too!</p>
       - <cite>S. Rogers</cite>
    </blockquote>
  </div>
  <!-- <div class="container">
    <div class="row"> -->

  <!-- </div>
  </div> -->
</div>